# Xcode
#
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
Pods/

# Carthage
Carthage/Build/.ios-client-sdk.version
Carthage/Build/.swift-eventsource.version
Carthage/Build/LaunchDarkly.xcframework
Carthage/Build/LaunchDarkly_macOS.xcframework
Carthage/Build/LaunchDarkly_watchOS.xcframework
Carthage/Build/tvOS/
Carthage/Checkouts/

.DS_Store
