name: Build
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 9 * * *'
  push:
    branches: [ main, 'feat/**' ]
    paths-ignore:
      - '**.md' # Do not need to run CI for markdown changes.
  pull_request:
    branches: [ main, 'feat/**' ]
    paths-ignore:
      - '**.md'

jobs:
  macos-build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4

      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd
        with:
          xcode-version: 16.4

      - name: Install carthage
        run: brew install carthage

      - name: Build carthage projects
        run: carthage update --platform tvOS --use-xcframeworks

      - name: Build hello-tvos
        run: xcodebuild build -scheme 'hello-tvos' -sdk 'appletvsimulator' CODE_SIGNING_ALLOWED=NO | xcpretty
